yolo*.pt
/*.png
output/
__pycache__/
dataset/
dataset_attention/
unbalanced_dataset/
balanced_dataset/
balanced_dataset_coco2017/
feature_extracted/
wandb/
checkpoints/
prediction_results
videos/
draw/