yolo*.pt
/*.png
output/
__pycache__/
dataset/
dataset_attention/
unbalanced_dataset/
balanced_dataset/
balanced_dataset_coco2017/
feature_extracted/
wandb/
checkpoints/*/*
!checkpoints/*/best_model.pt
!checkpoints/*/test_predictions.json
prediction_results
videos/
draw/